body{
    background-color: black;
  
}
header
{
    height: 73px;
    width: 100%;
    
}

h1 {
 margin: 0;
  background-color: black;
  font-family: "Raleway", sans-serif;
  color: white;
  size: 50 px;
  display: flex;
  justify-content: center;
}

.iguana{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primera_sección
{

   display: flex;
   height: 348px;
   justify-content: space-around;
   align-items: center;
   width: 100%;
  

}


p{
        color: white;
    height: 197px;
    width: 475px;
  font-family: 'Raleway', sans-serif;
 font-weight: 100;

}

.caracteristicas
{
    display: flex;
    flex-direction: column;
    background-color: #1E1A13;
    height: 348px;

}

h2
{
    size: 40px;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 50px;
    font-weight: 400;

}

.iconos
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 74px;
}

h3{
    color: white;
    font-family: "Raleway", sans-serif;
    size: 25px;
    font-weight: 100;
}

.fa-regular far fa-eye fa-4x

{
    color: #FFFFFF;
}

.fotos
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 73px;
    padding-bottom: 73px;
}

footer
{
    background-color: #1E1A13; 
    display: flex !important;
    justify-content: center;
    height: 102px;
    width: 100%;
}

#p_footer
{
    color: white;
    font-family: "Raleway", sans-serif;
    color: white;
    size: 20 px;
    text-align: center;
    width: 100%;


}

.caracteristica
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
